<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.MakerPartsMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.MakerParts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parts_id" property="partsId" jdbcType="VARCHAR" />
    <result column="parts_name" property="partsName" jdbcType="VARCHAR" />
    <result column="parts_picture" property="partsPicture" jdbcType="VARCHAR" />
    <result column="parts_decsription" property="partsDecsription" jdbcType="VARCHAR" />
    <result column="production_time" property="productionTime" jdbcType="VARCHAR" />
    <result column="production_area" property="productionArea" jdbcType="VARCHAR" />
    <result column="belongs" property="belongs" jdbcType="VARCHAR" />
    <result column="signature_one" property="signatureOne" jdbcType="VARCHAR" />
    <result column="first_signtime" property="firstSigntime" jdbcType="VARCHAR" />
    <result column="signature_two" property="signatureTwo" jdbcType="VARCHAR" />
    <result column="second_signtime" property="secondSigntime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parts_id, parts_name, parts_picture, parts_decsription, production_time, production_area, 
    belongs, signature_one, first_signtime, signature_two, second_signtime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_parts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_parts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlzkj.app.model.MakerParts" >
    insert into x_parts (id, parts_id, parts_name, 
      parts_picture, parts_decsription, production_time, 
      production_area, belongs, signature_one, 
      first_signtime, signature_two, second_signtime, 
      status)
    values (#{id,jdbcType=INTEGER}, #{partsId,jdbcType=VARCHAR}, #{partsName,jdbcType=VARCHAR}, 
      #{partsPicture,jdbcType=VARCHAR}, #{partsDecsription,jdbcType=VARCHAR}, #{productionTime,jdbcType=VARCHAR}, 
      #{productionArea,jdbcType=VARCHAR}, #{belongs,jdbcType=VARCHAR}, #{signatureOne,jdbcType=VARCHAR}, 
      #{firstSigntime,jdbcType=VARCHAR}, #{signatureTwo,jdbcType=VARCHAR}, #{secondSigntime,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlzkj.app.model.MakerParts" >
    insert into x_parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="partsId != null" >
        parts_id,
      </if>
      <if test="partsName != null" >
        parts_name,
      </if>
      <if test="partsPicture != null" >
        parts_picture,
      </if>
      <if test="partsDecsription != null" >
        parts_decsription,
      </if>
      <if test="productionTime != null" >
        production_time,
      </if>
      <if test="productionArea != null" >
        production_area,
      </if>
      <if test="belongs != null" >
        belongs,
      </if>
      <if test="signatureOne != null" >
        signature_one,
      </if>
      <if test="firstSigntime != null" >
        first_signtime,
      </if>
      <if test="signatureTwo != null" >
        signature_two,
      </if>
      <if test="secondSigntime != null" >
        second_signtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partsId != null" >
        #{partsId,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsPicture != null" >
        #{partsPicture,jdbcType=VARCHAR},
      </if>
      <if test="partsDecsription != null" >
        #{partsDecsription,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null" >
        #{productionTime,jdbcType=VARCHAR},
      </if>
      <if test="productionArea != null" >
        #{productionArea,jdbcType=VARCHAR},
      </if>
      <if test="belongs != null" >
        #{belongs,jdbcType=VARCHAR},
      </if>
      <if test="signatureOne != null" >
        #{signatureOne,jdbcType=VARCHAR},
      </if>
      <if test="firstSigntime != null" >
        #{firstSigntime,jdbcType=VARCHAR},
      </if>
      <if test="signatureTwo != null" >
        #{signatureTwo,jdbcType=VARCHAR},
      </if>
      <if test="secondSigntime != null" >
        #{secondSigntime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlzkj.app.model.MakerParts" >
    update x_parts
    <set >
      <if test="partsId != null" >
        parts_id = #{partsId,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        parts_name = #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsPicture != null" >
        parts_picture = #{partsPicture,jdbcType=VARCHAR},
      </if>
      <if test="partsDecsription != null" >
        parts_decsription = #{partsDecsription,jdbcType=VARCHAR},
      </if>
      <if test="productionTime != null" >
        production_time = #{productionTime,jdbcType=VARCHAR},
      </if>
      <if test="productionArea != null" >
        production_area = #{productionArea,jdbcType=VARCHAR},
      </if>
      <if test="belongs != null" >
        belongs = #{belongs,jdbcType=VARCHAR},
      </if>
      <if test="signatureOne != null" >
        signature_one = #{signatureOne,jdbcType=VARCHAR},
      </if>
      <if test="firstSigntime != null" >
        first_signtime = #{firstSigntime,jdbcType=VARCHAR},
      </if>
      <if test="signatureTwo != null" >
        signature_two = #{signatureTwo,jdbcType=VARCHAR},
      </if>
      <if test="secondSigntime != null" >
        second_signtime = #{secondSigntime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlzkj.app.model.MakerParts" >
    update x_parts
    set parts_id = #{partsId,jdbcType=VARCHAR},
      parts_name = #{partsName,jdbcType=VARCHAR},
      parts_picture = #{partsPicture,jdbcType=VARCHAR},
      parts_decsription = #{partsDecsription,jdbcType=VARCHAR},
      production_time = #{productionTime,jdbcType=VARCHAR},
      production_area = #{productionArea,jdbcType=VARCHAR},
      belongs = #{belongs,jdbcType=VARCHAR},
      signature_one = #{signatureOne,jdbcType=VARCHAR},
      first_signtime = #{firstSigntime,jdbcType=VARCHAR},
      signature_two = #{signatureTwo,jdbcType=VARCHAR},
      second_signtime = #{secondSigntime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>