<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlzkj.app.mapper.MakerPartsMapper" >
  <resultMap id="BaseResultMap" type="com.zlzkj.app.model.MakerParts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parts_id" property="partsId" jdbcType="VARCHAR" />
    <result column="parts_name" property="partsName" jdbcType="VARCHAR" />
    <result column="parts_description" property="partsDescription" jdbcType="VARCHAR" />
    <result column="parts_productiontime" property="partsProductiontime" jdbcType="VARCHAR" />
    <result column="parts_productionarea" property="partsProductionarea" jdbcType="VARCHAR" />
    <result column="parts_belongs" property="partsBelongs" jdbcType="VARCHAR" />
    <result column="parts_signature_one" property="partsSignatureOne" jdbcType="VARCHAR" />
    <result column="parts_first_signtime" property="partsFirstSigntime" jdbcType="VARCHAR" />
    <result column="parts_signature_two" property="partsSignatureTwo" jdbcType="VARCHAR" />
    <result column="parts_second_signtime" property="partsSecondSigntime" jdbcType="VARCHAR" />
    <result column="parts_status" property="partsStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zlzkj.app.model.MakerParts" extends="BaseResultMap" >
    <result column="parts_picture" property="partsPicture" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parts_id, parts_name, parts_description, parts_productiontime, parts_productionarea, 
    parts_belongs, parts_signature_one, parts_first_signtime, parts_signature_two, parts_second_signtime, 
    parts_status
  </sql>
  <sql id="Blob_Column_List" >
    parts_picture
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from x_parts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_parts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlzkj.app.model.MakerParts" >
    insert into x_parts (id, parts_id, parts_name, 
      parts_description, parts_productiontime, 
      parts_productionarea, parts_belongs, parts_signature_one, 
      parts_first_signtime, parts_signature_two, 
      parts_second_signtime, parts_status, parts_picture
      )
    values (#{id,jdbcType=INTEGER}, #{partsId,jdbcType=VARCHAR}, #{partsName,jdbcType=VARCHAR}, 
      #{partsDescription,jdbcType=VARCHAR}, #{partsProductiontime,jdbcType=VARCHAR}, 
      #{partsProductionarea,jdbcType=VARCHAR}, #{partsBelongs,jdbcType=VARCHAR}, #{partsSignatureOne,jdbcType=VARCHAR}, 
      #{partsFirstSigntime,jdbcType=VARCHAR}, #{partsSignatureTwo,jdbcType=VARCHAR}, 
      #{partsSecondSigntime,jdbcType=VARCHAR}, #{partsStatus,jdbcType=INTEGER}, #{partsPicture,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlzkj.app.model.MakerParts" >
    insert into x_parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="partsId != null" >
        parts_id,
      </if>
      <if test="partsName != null" >
        parts_name,
      </if>
      <if test="partsDescription != null" >
        parts_description,
      </if>
      <if test="partsProductiontime != null" >
        parts_productiontime,
      </if>
      <if test="partsProductionarea != null" >
        parts_productionarea,
      </if>
      <if test="partsBelongs != null" >
        parts_belongs,
      </if>
      <if test="partsSignatureOne != null" >
        parts_signature_one,
      </if>
      <if test="partsFirstSigntime != null" >
        parts_first_signtime,
      </if>
      <if test="partsSignatureTwo != null" >
        parts_signature_two,
      </if>
      <if test="partsSecondSigntime != null" >
        parts_second_signtime,
      </if>
      <if test="partsStatus != null" >
        parts_status,
      </if>
      <if test="partsPicture != null" >
        parts_picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partsId != null" >
        #{partsId,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsDescription != null" >
        #{partsDescription,jdbcType=VARCHAR},
      </if>
      <if test="partsProductiontime != null" >
        #{partsProductiontime,jdbcType=VARCHAR},
      </if>
      <if test="partsProductionarea != null" >
        #{partsProductionarea,jdbcType=VARCHAR},
      </if>
      <if test="partsBelongs != null" >
        #{partsBelongs,jdbcType=VARCHAR},
      </if>
      <if test="partsSignatureOne != null" >
        #{partsSignatureOne,jdbcType=VARCHAR},
      </if>
      <if test="partsFirstSigntime != null" >
        #{partsFirstSigntime,jdbcType=VARCHAR},
      </if>
      <if test="partsSignatureTwo != null" >
        #{partsSignatureTwo,jdbcType=VARCHAR},
      </if>
      <if test="partsSecondSigntime != null" >
        #{partsSecondSigntime,jdbcType=VARCHAR},
      </if>
      <if test="partsStatus != null" >
        #{partsStatus,jdbcType=INTEGER},
      </if>
      <if test="partsPicture != null" >
        #{partsPicture,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlzkj.app.model.MakerParts" >
    update x_parts
    <set >
      <if test="partsId != null" >
        parts_id = #{partsId,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        parts_name = #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsDescription != null" >
        parts_description = #{partsDescription,jdbcType=VARCHAR},
      </if>
      <if test="partsProductiontime != null" >
        parts_productiontime = #{partsProductiontime,jdbcType=VARCHAR},
      </if>
      <if test="partsProductionarea != null" >
        parts_productionarea = #{partsProductionarea,jdbcType=VARCHAR},
      </if>
      <if test="partsBelongs != null" >
        parts_belongs = #{partsBelongs,jdbcType=VARCHAR},
      </if>
      <if test="partsSignatureOne != null" >
        parts_signature_one = #{partsSignatureOne,jdbcType=VARCHAR},
      </if>
      <if test="partsFirstSigntime != null" >
        parts_first_signtime = #{partsFirstSigntime,jdbcType=VARCHAR},
      </if>
      <if test="partsSignatureTwo != null" >
        parts_signature_two = #{partsSignatureTwo,jdbcType=VARCHAR},
      </if>
      <if test="partsSecondSigntime != null" >
        parts_second_signtime = #{partsSecondSigntime,jdbcType=VARCHAR},
      </if>
      <if test="partsStatus != null" >
        parts_status = #{partsStatus,jdbcType=INTEGER},
      </if>
      <if test="partsPicture != null" >
        parts_picture = #{partsPicture,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zlzkj.app.model.MakerParts" >
    update x_parts
    set parts_id = #{partsId,jdbcType=VARCHAR},
      parts_name = #{partsName,jdbcType=VARCHAR},
      parts_description = #{partsDescription,jdbcType=VARCHAR},
      parts_productiontime = #{partsProductiontime,jdbcType=VARCHAR},
      parts_productionarea = #{partsProductionarea,jdbcType=VARCHAR},
      parts_belongs = #{partsBelongs,jdbcType=VARCHAR},
      parts_signature_one = #{partsSignatureOne,jdbcType=VARCHAR},
      parts_first_signtime = #{partsFirstSigntime,jdbcType=VARCHAR},
      parts_signature_two = #{partsSignatureTwo,jdbcType=VARCHAR},
      parts_second_signtime = #{partsSecondSigntime,jdbcType=VARCHAR},
      parts_status = #{partsStatus,jdbcType=INTEGER},
      parts_picture = #{partsPicture,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlzkj.app.model.MakerParts" >
    update x_parts
    set parts_id = #{partsId,jdbcType=VARCHAR},
      parts_name = #{partsName,jdbcType=VARCHAR},
      parts_description = #{partsDescription,jdbcType=VARCHAR},
      parts_productiontime = #{partsProductiontime,jdbcType=VARCHAR},
      parts_productionarea = #{partsProductionarea,jdbcType=VARCHAR},
      parts_belongs = #{partsBelongs,jdbcType=VARCHAR},
      parts_signature_one = #{partsSignatureOne,jdbcType=VARCHAR},
      parts_first_signtime = #{partsFirstSigntime,jdbcType=VARCHAR},
      parts_signature_two = #{partsSignatureTwo,jdbcType=VARCHAR},
      parts_second_signtime = #{partsSecondSigntime,jdbcType=VARCHAR},
      parts_status = #{partsStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>